@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");
html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

header img {
  width: 100%;
}

/* Css de nav bootstrap */
#navegador {
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
#navegador div.container {
  width: auto;
}
#navegador div.container a img {
  margin-right: 30px;
}
#navegador div.navbar-nav a {
  font-size: 2.5rem;
  color: black;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  margin: 0 10px;
}
#navegador div.navbar-nav a:hover {
  color: rgb(103, 148, 54);
}

footer {
  text-align: center;
  background-color: black;
  padding: 5px 5px;
}
footer h3 {
  color: white;
  font-weight: 600;
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  margin-top: 15px;
}
footer a {
  text-decoration: none;
}
footer a img {
  margin: 15px 15px;
}
footer p {
  color: white;
  font-weight: 200;
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
}

.mainsection {
  text-align: center;
  background-color: white;
  padding: 50px 0 0 0;
  background-image: url(../imagenes/stock-photo-art-concrete-texture-for-background-in-black-grey-and-white-colors-298514801.jpg);
  background-size: cover;
}
.mainsection__tittle {
  color: black;
  font-size: 5rem;
  font-family: "Lato", sans-serif;
  display: inline-block;
  margin: 0 15px 30px 15px;
  font-weight: 600;
}
.mainsection__tittle--color {
  color: green;
}
.mainsection__text {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: black;
}
.mainsection--flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: normal;
  padding: 50px;
}
.mainsection__form {
  padding: 30px 30px 0 30px;
  background-color: white;
  margin-right: 80px;
  width: 25vw;
  border-radius: 10px;
  border-top: solid;
  border-bottom: solid;
  border-color: rgb(103, 148, 54);
  border-width: thick;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.mainsection__form--flex {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  height: 100%;
}

div.mainsection__form div:not(:nth-child(6)) input, div.mainsection__form div:not(:nth-child(6)) textarea {
  font-weight: 200;
  color: rgb(2, 2, 2);
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  margin-bottom: 30px;
  width: 20vw;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(103, 148, 54);
}
div.mainsection__form div:not(:nth-child(6)) input:focus, div.mainsection__form div:not(:nth-child(6)) textarea:focus {
  outline: none;
  border-width: 2px;
}

textarea {
  margin-top: 30px;
}

.form__button--flex {
  display: flex;
  margin-top: auto;
}

.formButon {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  padding: 15px 15px;
  margin: 0 15px 30px 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: 200;
  width: 20vw;
  background-color: rgba(103, 148, 54, 0.9);
  color: white;
  box-shadow: 0 9px #999;
}
.formButon:hover {
  border-color: rgb(103, 148, 54);
}
.formButon:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.finalsection__article--box {
  background-color: white;
  padding: 30px 30px 0 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-top: solid;
  border-bottom: solid;
  border-color: rgb(103, 148, 54);
  border-width: thick;
  width: 25vw;
}
.finalsection__article--flex {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: flex-start;
}
.finalsection__subtittle {
  color: black;
  font-weight: 600;
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  margin-bottom: 10px;
  margin-top: 0px;
  text-align: left;
}
.finalsection__img {
  width: 35px;
  margin-right: 20px;
}
.finalsection__text {
  font-weight: 200;
  color: rgb(2, 2, 2);
  font-size: 1.7rem;
  font-family: "Roboto", sans-serif;
  margin-bottom: 30px;
  text-align: left;
}
.finalsection__text--list {
  list-style-type: none;
  line-height: 3rem;
  margin-bottom: 30px;
  font-weight: 200;
  font-size: 1.7rem;
  font-family: "Lato", sans-serif;
  padding: 0;
  text-align: left;
}

div iframe {
  width: 100%;
  margin-bottom: 30px;
  justify-self: center;
  border-radius: 10px;
}

@media (max-width: 1200px) {
  .mainsection__form {
    width: 30vw;
  }
  div.mainsection__form div:not(:nth-child(6)) input, div.mainsection__form div:not(:nth-child(6)) textarea {
    width: 25vw;
  }
  .formButon {
    width: 25vw;
  }
  .finalsection__article--box {
    width: 30vw;
  }
}
@media (max-width: 992px) {
  .mainsection__form {
    width: 35vw;
  }
  div.mainsection__form div:not(:nth-child(6)) input, div.mainsection__form div:not(:nth-child(6)) textarea {
    width: 30vw;
  }
  .formButon {
    width: 30vw;
  }
  .finalsection__article--box {
    width: 35vw;
  }
}
@media (max-width: 768px) {
  .mainsection--flex {
    flex-direction: column;
    align-items: center;
  }
  .mainsection__form {
    width: 60vw;
    margin-bottom: 30px;
    margin-right: 0;
  }
  div.mainsection__form div:not(:nth-child(6)) input, div.mainsection__form div:not(:nth-child(6)) textarea {
    width: 50vw;
  }
  .formButon {
    width: 50vw;
  }
  .finalsection__article--box {
    width: 60vw;
  }
}
@media (max-width: 576px) {
  header img {
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 0 0;
  }
  .mainsection {
    padding: 15px 0;
  }
  .mainsection__tittle {
    font-size: 3rem;
  }
  .mainsection__text {
    font-size: 1.8rem;
  }
  .mainsection--flex {
    padding: 15px;
  }
}/*# sourceMappingURL=contacto1.css.map */