/* Fuentes - Probar otras en remplazo de Aboreto*/
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');
html{
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
/* Css del body - Imagen bg no definitiva */
body{
    background-image: url(../imagenes/background-2076336_1280.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
/* Css del nav */

#navegador{
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

#navegador div.container{
    width: auto;
}
#navegador div.container a img{
    margin-right: 30px;
}

#navegador div.navbar-nav a{
    font-size: 2.5rem;
    color: black;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin: 0 10px;
}
#navegador div.navbar-nav a:hover{
    color: rgba(103, 148, 54, 1);
}

/* Css del header */
header img{
    width: 100%;
    height: auto;
}

/* Css de mainsection */

.mainsection{
    text-align: center;
    background-color: white;
    padding: 50px 0;
}

.mainsection__tittle{
    color: rgba(103, 148, 54, 1);
    font-size: 5rem;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    margin-bottom: 30px;
    font-weight: 600;
}
.mainsection__tittle--color{
    color: rgba(103, 148, 54, 0.8);
}
.mainsection__text{
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
    font-weight: 200;
    margin-bottom: 50px;
    color: black;

}
.mainsection--flex{
    display: flex;
    justify-content: center;
}


/* Css del form */
.mainsection__form--flex{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.mainsection__form{
    padding: 30px 30px 0 30px;
    background-color: white;
    margin-right: 80px;
    width: 25vw;
    border-radius: 10px;
    border-top: solid;
    border-bottom: solid;
    border-color: rgba(103, 148, 54, 1);
    border-width: thick;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.mainsection__form div:not(:nth-child(6)) input,textarea{
    font-weight: 200;
    color: rgb(2, 2, 2);
    font-size: 1.8rem;
    font-family: 'Lato', sans-serif;
    margin-bottom: 30px;
    width: 20vw;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(103, 148, 54, 1);
}

textarea{
    margin-top: 30px;
}

div.mainsection__form div:not(:nth-child(6)) input:focus,textarea:focus{
    outline: none;
    border-width: 2px;
}

.formButon{
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    padding: 15px 15px;
    margin: 0 15px 30px 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: 200;
    width: 20vw;
    background-color: rgba(103, 148, 54, 0.9);
    color: white;
    box-shadow: 0 9px #999;
}

.formButon:hover{
    background-color: rgba(103, 148, 54, 1);
}
.formButon:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.form__button--flex{
    display: flex;
    margin-top: auto;
}



/* Css de datos de contacto */




.finalsection_article--box{
    background-color: white;
    padding: 30px 30px 0 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top: solid;
    border-bottom: solid;
    border-color: rgba(103, 148, 54, 1);
    border-width: thick;
    width: 25vw;
    
}

.finalsection__article--flex{
    display: flex;
    align-items: flex-start;
    text-align: left;
}

.finalsection__subtittle{
    color:black;
    font-weight: 600;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
    margin-top: 0px;
    
}

.finalsection__img{
    width: 35px;
    margin-right: 20px;
}

.finalsection__text{
    font-weight: 200;
    color: rgb(2, 2, 2);
    font-size: 1.7rem;
    font-family: 'Lato', sans-serif;
    margin-bottom: 30px;
    text-align: left;
}

.finalsection__text--list{
    list-style-type: none;
    line-height: 3rem;
    margin-bottom: 30px;
    font-weight: 200;
    font-size: 1.7rem;
    font-family: 'Lato', sans-serif;
    padding: 0;
    text-align: left;
}

div iframe{
    width: 100%;
    margin-bottom: 30px;
    justify-self: center;
    border-radius: 10px;
}

/* Termina final section */



/* Css de footer */

footer{
    text-align: center;
    background-color: black;
    padding: 5px 5px;
    }
footer h3{
    color:rgb(235, 242, 250);
    font-weight: 600;
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
    margin-top: 15px;
} 
    
footer a{
    text-decoration: none;
}
    
footer a img{
    margin: 15px 15px;
}
    
footer p{
    color: white;
    font-weight: 200;
    font-size: 1.7rem;
    font-family:'Lato', sans-serif;
     margin-top: 10px;
}