@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");
html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

header img {
  width: 100%;
}

/* Css de nav bootstrap */
#navegador {
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
#navegador div.container {
  width: auto;
}
#navegador div.container a img {
  margin-right: 30px;
}
#navegador div.navbar-nav a {
  font-size: 2.5rem;
  color: black;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  margin: 0 10px;
}
#navegador div.navbar-nav a:hover {
  color: rgb(103, 148, 54);
}

footer {
  text-align: center;
  background-color: black;
  padding: 5px 5px;
}
footer h3 {
  color: white;
  font-weight: 600;
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  margin-top: 15px;
}
footer a {
  text-decoration: none;
}
footer a img {
  margin: 15px 15px;
}
footer p {
  color: white;
  font-weight: 200;
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
}

.mainsection {
  text-align: center;
  font-weight: 200;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
.mainsection__tittle {
  color: rgb(103, 148, 54);
  font-size: 7rem;
  font-family: "Lato", sans-serif;
  margin: 20px 0px;
  margin-right: 90px;
  display: inline-block;
  font-weight: 600;
  -webkit-animation: fadein 2s ease-in;
          animation: fadein 2s ease-in;
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.mainsection__tittle--color {
  color: rgba(103, 148, 54, 0.8);
}
.mainsection__tittle--subrayado {
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 4px;
  transition: background-size 0.8s;
}
.mainsection__tittle--subrayado:hover, .mainsection__tittle--subrayado:focus {
  background-size: 100% 4px;
}
.mainsection__text {
  color: black;
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  margin: 0 0 30px 0;
  line-height: 3rem;
  text-align: justify;
  width: 30vw;
}
.mainsection__text--color {
  color: rgba(103, 148, 54, 0.9);
}

.secondarysection {
  text-align: center;
  padding: 70px 0 40px 0;
  background-color: rgba(235, 242, 250, 0.7);
}
.secondarysection--flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: normal;
  flex-wrap: wrap;
}
.secondarysection__tittle {
  color: rgb(5, 102, 141);
  font-size: 2.5rem;
  font-family: "Lato", sans-serif;
  margin-top: 20px;
  font-weight: 200;
}
.secondarysection__tittle--main {
  color: rgb(5, 102, 141);
  font-size: 5rem;
  font-family: "Roboto", sans-serif;
  margin-bottom: 50px;
  display: inline-block;
  font-weight: 600;
}
.secondarysection__tittle--color {
  color: rgba(5, 102, 141, 0.8);
}
.secondarysection__text {
  color: black;
  font-size: 1.7rem;
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
  line-height: 2.8rem;
  flex-grow: 1;
}
.secondarysection__text--txtdec {
  text-decoration: none;
}
.secondarysection__article--borde {
  position: relative;
}
.secondarysection__article--borde::before {
  content: "";
  position: absolute;
  border-bottom: 4px transparent solid;
  border-left: 4px transparent solid;
  box-sizing: border-box;
  width: 0;
  height: 0;
  bottom: 0px;
  left: 0px;
  transition: 1s ease-in-out;
  z-index: 1;
}
.secondarysection__article--borde::after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  border-top: 4px transparent solid;
  border-right: 4px transparent solid;
  width: 0;
  height: 0;
  top: 0px;
  right: 0px;
  transition: 1s ease-in-out;
  z-index: 1;
}
.secondarysection__article--borde:hover::after, .secondarysection__article--borde:hover::before {
  width: 100%;
  height: 100%;
  border-color: rgba(5, 102, 141, 0.6);
}
.secondarysection__article--boton {
  background-color: rgba(5, 102, 141, 0.8);
  border: 1px solid white;
  color: white;
  padding: 5px 0px;
  font-size: 1.7rem;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 10px;
  z-index: 2;
  position: relative;
  width: 120px;
  margin-right: auto;
  margin-left: auto;
}
.secondarysection__article--boton:hover {
  background-color: rgb(5, 102, 141);
}
.secondarysection__article--boton a:hover {
  color: white;
}
.secondarysection__article--txtdecoration {
  text-decoration: none;
  color: inherit;
}

section.secondarysection article {
  width: 15vw;
  padding: 30px 20px;
  margin-right: 35px;
  margin-left: 35px;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
}
section.secondarysection article img {
  width: 100px;
  margin: 0 auto;
}

.thirdsection {
  text-align: center;
  font-weight: 400;
  background-image: url(../imagenes/fondo2.jpg);
  padding: 70px 0 40px 0;
}
.thirdsection__tittle {
  color: black;
  font-size: 5rem;
  font-family: "Lato", sans-serif;
  margin-top: 60px;
  font-weight: 600;
  margin-bottom: 60px;
}
.thirdsection__tittle--img {
  width: 6vw;
}
.thirdsection__subtittle {
  color: black;
  font-size: 2.5rem;
  font-family: "Lato", sans-serif;
  font-weight: 600;
}
.thirdsection__subtittle--img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}
.thirdsection__subtittle--text {
  color: rgb(2, 2, 2);
  font-size: 1.7rem;
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
  line-height: 2.5rem;
  font-weight: 200;
}
.thirdsection--scale {
  transition: transform 0.3s linear;
}
.thirdsection--scale:hover {
  transform: scale(1.2);
  border-radius: 10px;
}
.thirdsection__article {
  padding: 30px 30px;
  margin-bottom: 30px;
  background-color: white;
  border-radius: 10px;
  width: 15vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.containercss {
  display: grid;
  grid-template-columns: 20% 12% 12% 20%;
  grid-template-rows: auto;
  grid-template-areas: "proyectos areas areas urb" "emp areas areas org";
  justify-content: center;
  justify-items: center;
}

#areas {
  grid-area: areas;
  justify-self: center;
  align-self: center;
}

#proyectos {
  grid-area: proyectos;
}

#urbanizaciones {
  grid-area: urb;
}

#empresas {
  grid-area: emp;
}

#organismos {
  grid-area: org;
}

.finalsection {
  text-align: center;
  padding: 70px 0 50px 0;
}
.finalsection__tittle {
  color: rgb(5, 102, 141);
  font-size: 5rem;
  font-family: "Lato", sans-serif;
  display: inline-block;
  margin-bottom: 60px;
  font-weight: 600;
}
.finalsection--flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.finalsection__img {
  width: 400px;
  margin-right: 70px;
}

section.finalsection ul {
  width: 25vw;
  margin-bottom: 0;
}
section.finalsection ul li {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: flex-start;
  list-style: none;
  margin-bottom: 20px;
}
section.finalsection ul li h3 {
  color: black;
  font-weight: 200;
  font-size: 2.5rem;
  font-family: "Lato", sans-serif;
  margin-bottom: 10px;
  margin-top: 0px;
  color: rgb(5, 102, 141);
  text-align: left;
}
section.finalsection ul li p {
  font-weight: 200;
  color: black;
  font-size: 1.7rem;
  font-family: "Roboto", sans-serif;
  text-align: left;
}
section.finalsection ul li img {
  margin-right: 10px;
}

.contactsection {
  background-color: #4CAF50;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
}
.contactsection__button {
  background-color: #4CAF50;
  padding: 16px 32px;
  text-align: center;
  border: 2px solid white;
  text-decoration: none;
  display: inline-block;
  font-size: 2.5rem;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  border-radius: 10px;
  margin-left: 60px;
  margin-right: 60px;
  color: white;
}
.contactsection__button:hover {
  background-color: white;
  color: #4CAF50;
}
.contactsection__button--txtdec {
  text-decoration: none;
  color: inherit;
}
.contactsection__button--txtdec:hover {
  text-decoration: none;
  color: inherit;
}

section.contactsection div h3 {
  color: white;
  font-weight: 600;
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
}
section.contactsection div p {
  color: black;
  font-weight: 600;
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 1200px) {
  .mainsection__tittle {
    font-size: 6rem;
  }
  section.secondarysection article {
    width: 20vw;
  }
  .thirdsection__tittle {
    font-size: 4rem;
  }
  .contactsection {
    padding: 70px 50px;
  }
}
@media (max-width: 992px) {
  .mainsection__tittle {
    font-size: 5rem;
  }
  .mainsection__text {
    width: 40vw;
  }
  section.secondarysection article {
    width: 30vw;
  }
  .containercss {
    grid-template-columns: 40% 40%;
    grid-template-areas: "areas areas" "proyectos urb" "emp org";
    padding-top: 15px;
    justify-content: center;
  }
  .thirdsection__tittle {
    margin-top: 50px;
    font-size: 5rem;
  }
  .thirdsection__tittle--img {
    display: none;
  }
  .thirdsection__article {
    padding: 30px 30px;
    margin-bottom: 30px;
    width: 25vw;
  }
  .thirdsection__subtittle--img {
    width: 100%;
  }
  .finalsection__img {
    width: 300px;
  }
}
@media (max-width: 768px) {
  .mainsection {
    flex-direction: column;
    margin-bottom: 50px;
  }
  .mainsection__tittle {
    margin-right: 0px;
    margin-top: 0;
  }
  .mainsection__text {
    width: 80vw;
  }
  .secondarysection {
    padding: 10px 10px;
  }
  .secondarysection--flex {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: center;
  }
  section.secondarysection article {
    width: 70vw;
    padding: 15px 15px;
    height: auto;
    margin-bottom: 25px;
    margin-left: 0;
    margin-right: 0;
  }
  section.secondarysection article img {
    height: 100px;
  }
  .finalsection--flex {
    flex-direction: column;
  }
  .finalsection__img {
    margin: 0 0 30px 0;
  }
  section.finalsection ul {
    width: auto;
    padding-right: 20px;
  }
  .contactsection {
    flex-direction: column;
    text-align: center;
  }
  .contactsection__button {
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
  }
}
@media (max-width: 576px) {
  header img {
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 0 0;
  }
  .mainsection {
    margin-bottom: 50px;
  }
  .mainsection__tittle {
    font-size: 3rem;
    width: auto;
    margin-right: 0;
    margin-top: 15px;
  }
  .mainsection__text {
    margin: 0px 0px 20px 0px;
    line-height: 3rem;
    padding: 0px 20px;
    font-size: 1.7rem;
    width: 80vw;
  }
  .secondarysection__tittle {
    font-size: 2.5rem;
    margin-top: 20px;
  }
  .secondarysection__tittle--main {
    font-size: 3rem;
    margin-bottom: 30px;
  }
  .secondarysection__text {
    line-height: 2.8rem;
    padding-left: 15px;
    padding-right: 15px;
  }
  .containercss {
    grid-template-columns: 100vw;
    grid-template-areas: "areas" "proyectos" "urb" "emp" "org";
    align-items: center;
    padding-top: 15px;
    justify-items: center;
  }
  .thirdsection__tittle {
    font-size: 3rem;
    margin-top: 0px;
    margin-bottom: 30px;
  }
  .thirdsection__tittle--img {
    display: none;
  }
  .thirdsection__subtittle {
    font-size: 2.5rem;
    margin-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .thirdsection__subtittle--text {
    font-size: 1.7rem;
    margin-top: 10px;
    line-height: 2.8rem;
    margin-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .thirdsection__subtittle--img {
    width: 100%;
  }
  .thirdsection__article {
    width: 70vw;
  }
  .finalsection {
    padding: 0;
  }
  .finalsection__tittle {
    font-size: 3rem;
    font-family: "Roboto", sans-serif;
    padding: 15px 0px 0px 0px;
  }
  .finalsection--flex {
    flex-direction: column;
  }
  section.contactsection div h3 {
    font-size: 2.5rem;
  }
  section.contactsection div p {
    font-size: 2.5rem;
  }
  .contactsection__buton {
    font-size: 2rem;
  }
}/*# sourceMappingURL=index.css.map */