@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");
html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  list-style-type: none;
  padding: 15px 15px;
  font-size: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}
nav li a {
  text-decoration: none;
  color: rgb(2, 2, 2);
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  margin-right: 15px;
  margin-left: 15px;
}

.navegador {
  background-color: rgba(103, 148, 54, 0.75);
}

header img {
  width: 100%;
  margin-bottom: 0px;
}

.container {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: auto;
  grid-template-areas: "main main aside1" "final final final";
}
@media (max-width: 576px) {
  .container {
    grid-template-columns: 100vw;
    grid-template-areas: "main" "aside1" "final";
  }
}

#main {
  grid-area: main;
}

#final {
  grid-area: final;
}

#aside1 {
  grid-area: aside1;
}

.mainsection {
  text-align: center;
}
.mainsection__tittle {
  color: rgb(103, 148, 54);
  font-size: 5rem;
  font-family: "Roboto", sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
  display: inline-block;
  font-weight: 600;
}
@media (max-width: 576px) {
  .mainsection__tittle {
    font-size: 3rem;
    padding: 10px 10px;
    margin-bottom: 10px;
  }
}
.mainsection__tittle--color {
  color: rgba(103, 148, 54, 0.8);
}
.mainsection__tittle--subrayado {
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 4px;
  transition: background-size 0.8s;
}
.mainsection__tittle--subrayado:hover:focus {
  background-size: 100% 4px;
}
.mainsection__text {
  color: rgb(2, 2, 2);
  font-size: 2rem;
  line-height: 3rem;
  font-family: "Lato", sans-serif;
  margin: 30px;
  font-weight: 200;
}
@media (max-width: 576px) {
  .mainsection__text {
    font-size: 1.7rem;
    margin: 0px;
    padding-right: 25px;
    padding-left: 25px;
  }
}
.mainsection__text--width {
  width: 40%;
}
@media (max-width: 576px) {
  .mainsection__text--width {
    width: 80vw;
  }
}
.mainsection--flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
@media (max-width: 576px) {
  .mainsection--flex {
    flex-direction: column;
    margin-bottom: 15px;
  }
}

#animacion {
  width: 450px;
  height: 400px;
  margin: 30px;
  background-position: 0 0;
  -webkit-animation-name: animacionmain;
          animation-name: animacionmain;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media (max-width: 576px) {
  #animacion {
    height: 350px;
    width: 350px;
  }
}

@-webkit-keyframes animacionmain {
  0% {
    background-size: cover;
    background-image: url(../imagenes/aside-compañeros/animacion1.jpg);
  }
  20% {
    background-size: cover;
    background-image: url(../imagenes/aside-compañeros/animacion13.jpg);
  }
  40% {
    background-size: cover;
    background-image: url(../imagenes/aside-compañeros/animacion3.jpg);
  }
  60% {
    background-size: cover;
    background-image: url(../imagenes/aside-compañeros/animacion4.png);
  }
  80% {
    background-size: cover;
    background-image: url(../imagenes/aside-compañeros/animacion5.jpg);
  }
  100% {
    background-size: cover;
    background-image: url(../imagenes/aside-compañeros/service-1.png);
  }
}

@keyframes animacionmain {
  0% {
    background-size: cover;
    background-image: url(../imagenes/aside-compañeros/animacion1.jpg);
  }
  20% {
    background-size: cover;
    background-image: url(../imagenes/aside-compañeros/animacion13.jpg);
  }
  40% {
    background-size: cover;
    background-image: url(../imagenes/aside-compañeros/animacion3.jpg);
  }
  60% {
    background-size: cover;
    background-image: url(../imagenes/aside-compañeros/animacion4.png);
  }
  80% {
    background-size: cover;
    background-image: url(../imagenes/aside-compañeros/animacion5.jpg);
  }
  100% {
    background-size: cover;
    background-image: url(../imagenes/aside-compañeros/service-1.png);
  }
}
.finalsection {
  text-align: center;
  background-color: rgba(235, 242, 250, 0.7);
}
.finalsection__tittle {
  color: rgb(5, 102, 141);
  font-size: 5rem;
  font-family: "Roboto", sans-serif;
  padding-top: 50px;
  display: inline-block;
  font-weight: 600;
}
@media (max-width: 576px) {
  .finalsection__tittle {
    font-size: 3rem;
    padding-top: 15px;
  }
}
.finalsection__tittle--color {
  color: rgba(5, 102, 141, 0.8);
}
.finalsection__text {
  color: rgb(2, 2, 2);
  font-family: "Lato", sans-serif;
  font-size: 2.5rem;
  line-height: 3.5rem;
  margin-top: 50px;
  font-weight: 200;
}
@media (max-width: 576px) {
  .finalsection__text {
    font-size: 1.7rem;
    line-height: 3.5rem;
    margin-top: 15px;
  }
}
.finalsection__flex {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
@media (max-width: 576px) {
  .finalsection {
    align-items: center;
    flex-direction: column;
  }
}
.finalsection__figure--width {
  width: 25vw;
  margin: 60px 60px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px 20px;
  border-radius: 10px;
  background-color: rgba(235, 242, 250, 0.7);
}
@media (max-width: 576px) {
  .finalsection__figure--width {
    width: 80vw;
    margin-top: 15px;
    margin-bottom: 50px;
  }
}
.finalsection__figure--button {
  background-color: rgba(5, 102, 141, 0.75);
  color: white;
  font-size: 2rem;
  padding: 7px 25px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 20px;
  font-weight: 200;
  font-family: "Lato", sans-serif;
  border-radius: 10px;
  border: none;
}
.finalsection__figure--button span {
  cursor: pointer;
  position: relative;
  transition: 0.5s;
}
.finalsection__figure--button span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.finalsection__figure--button:hover span {
  padding-right: 25px;
}
.finalsection__figure--button:hover span::after {
  opacity: 1;
  right: 0;
}

section.finalsection div img {
  height: 350px;
  border-radius: 10px;
}
@media (max-width: 576px) {
  section.finalsection div img {
    height: 250px;
  }
}
section.finalsection div h3 {
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
  margin-top: 15px;
  color: rgb(5, 102, 141);
  font-weight: 200;
}
@media (max-width: 576px) {
  section.finalsection div h3 {
    font-size: 2rem;
    padding-left: 25px;
    padding-right: 25px;
  }
}
section.finalsection div p {
  font-family: "Lato", sans-serif;
  font-size: 1.7rem;
  margin-top: 15px;
  color: rgb(2, 2, 2);
  line-height: 3rem;
  font-weight: 200;
}
@media (max-width: 576px) {
  section.finalsection div p {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.aside {
  font-weight: 200;
  text-align: center;
  background-color: rgba(103, 148, 54, 0.25);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 30px;
  border: solid;
  border-width: 1px 0px 1px 1px;
}
.aside__tittle {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  margin-bottom: 15px;
  color: rgba(5, 102, 141, 0.9);
  font-weight: 600;
}
.aside__list {
  list-style: none;
}
.aside__list--img {
  border-radius: 50%;
}

aside.aside ul li {
  font-size: 2rem;
  line-height: 3rem;
  margin: 20px;
  display: flex;
  align-items: center;
  font-family: "Lato", sans-serif;
  text-align: left;
  -webkit-animation: fadein 2s forwards;
          animation: fadein 2s forwards;
  opacity: 0;
}
aside.aside ul li img {
  margin-right: 20px;
}
aside.aside ul li:nth-child(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
aside.aside ul li:nth-child(3) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
aside.aside ul li:nth-child(4) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
aside.aside ul li:nth-child(5) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
aside.aside ul li:nth-child(6) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
footer {
  text-align: center;
  background-color: rgba(5, 102, 141, 0.6);
  padding: 5px 5px;
}
footer h3 {
  color: rgb(235, 242, 250);
  font-weight: 600;
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  margin-top: 15px;
}
footer a img {
  margin: 15px 15px;
}/*# sourceMappingURL=main.css.map */