/* Fuentes - Probar otras en remplazo de Aboreto*/
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');
html{
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
/* Css del body - Imagen bg no definitiva */
body{
    
    background-color: white;
    
}
/* Css del nav */

#navegador{
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

#navegador div.container{
    width: auto;
}
#navegador div.container a img{
    margin-right: 30px;
}

#navegador div.navbar-nav a{
    font-size: 2.5rem;
    color: black;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin: 0 10px;
}
#navegador div.navbar-nav a:hover{
    color: rgba(103, 148, 54, 1);
}

/* Css del header */
header img{
    width: 100%;
    height: auto;
}

/* Css mainsection */
.mainsection{
    text-align: center;
    font-weight: 600;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    
}
.mainsection__tittle{
    color: rgba(103, 148, 54, 1);
    font-size: 7rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin-right: 90px;
    margin-bottom: 30px;

}
.mainsection__tittle--color{

    color: rgba(103, 148, 54, 0.8);
}

.mainsection__text{
    color: rgb(2, 2, 2);
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    line-height: 3rem;
    font-weight: 200;
    width: 30vw;
    margin-bottom: 30px;
    text-align: justify;
}
    
/* Css secondarysection */

.secondarysection{
    text-align: center;
    font-weight: 600;
    background-color: rgb(235, 242, 250, 0.7);
}

/* css del acordeon */
#accordionExample{
    width: 50vw;
    margin: 0px auto;
    padding-top: 15px;
    padding-bottom: 15px;
    
}
#accordionExample div.accordion-item{
    border-right: none;
    border-left: none;
    border-top: none;
}

.borde{
    border-bottom: none;
}

.borderText{
    border: 1px solid rgba(0,0,0,.125);
    border-bottom: none;
}

#accordionExample button{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(235, 242, 250, 0.7);
    font-size: 2.5rem;
    padding-top: 40px;
    padding-bottom: 40px;
    color: rgba(5, 102, 141, 1);
    font-weight: 200;
    box-sizing: border-box;
    border-left: 0;
    border-right: 0;
    box-shadow: none;
    font-weight: 600;
}

#accordionExample button:hover{
    box-shadow: none;
}

#accordionExample button span{
    color: rgba(5, 102, 141, 0.8);
}

#accordionExample div.accordion-body{
    padding: 0;
    border-radius: 10px;
    display: flex;
    align-content: center;
    justify-content: center;

}

#accordionExample div.accordion-body p{
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    font-size: 1.7rem;
    line-height: 2.5rem;
    padding: 20px;
    align-self: center;
    text-align: justify;
}
#accordionExample div.accordion-body img{
    object-fit: fill;
    width: 260px;
}

.accordion-item .collapse.show{
background-color: transparent !important;

}

.thirdsection{
    background-color: white;
    margin-top: 90px;
    text-align: center;
    margin-bottom: 90px;
}

.thirdsection--flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.thirdsection__img{
    width: 20vw;
    margin-right: 70px;
    
}
.thirdsection__text{
    font-size: 2rem;
    font-weight: 200;
    font-family: 'Lato', sans-serif;
    width: 20vw;
    line-height: 3rem;
    font-style: italic;
}



    /*Css de footer */
    footer{
        text-align: center;
        background-color: black;
        padding: 5px 5px;
        }
    footer h3{
        color:rgb(235, 242, 250);
        font-weight: 600;
        font-size: 1.8rem;
        font-family: 'Roboto', sans-serif;
        margin-top: 15px;
    } 
        
    footer a{
        text-decoration: none;
    }
        
    footer a img{
        margin: 15px 15px;
    }
        
    footer p{
        color: white;
        font-weight: 200;
        font-size: 1.7rem;
        font-family:'Lato', sans-serif;
         margin-top: 10px;
    }
