
//fonts
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');
$tittleFont: 'Roboto', sans-serif;
$textFont: 'Lato', sans-serif;

//colores
$colores:(
'main': rgba(103, 148, 54, 1),
'secondary': rgba(5, 102, 141, 1),
'mainSub': rgba(103, 148, 54, 0.8),
'secondarySub': rgba(5, 102, 141, 0.8),
'secondaryButton': rgba(5, 102, 141, 0.75),
'black': rgb(2, 2, 2),
'backGround': rgb(235, 242, 250, 0.7),
'backGround1': rgba(103, 148, 54, .25),
'backGround3': white,
);

//sizes
$sizeTittle: 5rem;
$sizeText: 2rem;
$sizeMedium: 2.5rem;
$sizeSmall: 1.7rem;
$sizeLarge: 3rem;

//weights
$weightTittle: 600;
$weightText: 200;
$weightMedium: 400;

//Flex mixing
@mixin flex($direction, $justifyC, $alignI){
    display: flex;
    flex-direction: $direction;
    justify-content: $justifyC;
    align-items: $alignI;
}

html{
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

header{
    img{
    width:100%; 
    }
}