//colores
$maincolor: rgba(103, 148, 54, 1);
$secondaryColor: rgba(5, 102, 141, 1);
$mainColorsub: rgba(103, 148, 54, 0.8);
$secondaryColorsub: rgba(5, 102, 141, 0.8);

//fonts
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

$tittleFont: 'Roboto', sans-serif;
$textFont: 'Lato', sans-serif;

//sizes
$sizeTittle: 5rem;
$sizeText: 2rem;
$sizeMedium: 2.5rem;

//weights
$weightTittle: 600;
$weightText: 200;




