//footer
footer{
    text-align: center;
    background-color: map-get($map:$colores , $key:'black');
    padding: 5px 5px;
    h3{
        color:white;
        font-weight: $weightTittle;
        font-size: 1.8rem;
        font-family: $tittleFont;
        margin-top: 15px;
    } 
    a{
        text-decoration: none; 
        img{
            margin: 15px 15px;
        }
    }
    p{
        color: white;
        font-weight: $weightText;
        font-size: 1.7rem;
        font-family: $textFont;
        margin-top: 10px;
    }
}