//footer
footer{
    text-align: center;
    background-color: black;
    padding: 5px 5px;
    h3{
        color:white;
        @include font($tittleFont,$weightTittle,1.8rem);
        margin-top: 15px;
    } 
    a{
        text-decoration: none; 
        img{
            margin: 15px 15px;
        }
    }
    p{
        color: white;
        @include font($textFont,$weightText,normal);
        font-size: map-get($map:$sizefont , $key:'xs' );
        margin-top: 10px;
    }
}