//footer
footer{
    text-align: center;
    background-color: rgba(5, 102, 141, 0.6);
    padding: 5px 5px;
    h3{
        color:rgb(235, 242, 250);
        font-weight: 600;
        font-size: 1.8rem;
        font-family: 'Roboto', sans-serif;
        margin-top: 15px;
    }
    a{
        img{
            margin: 15px 15px;
        }
    }
}