/* Css de nav bootstrap */

#navegador{
    background-color: map-get($map:$colores , $key:'backGround3');
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    div.container{
        width: auto;
        a{
            img{
            margin-right: 30px;
            }
        }
    }    
    div.navbar-nav{
        a{
            font-size: map-get($map:$sizefont , $key:'m' );
            color: map-get($map:$colores , $key:'black');
            font-weight: $weightMedium;
            font-family: $tittleFont;
            margin: 0 10px;
            &:hover{
                color: map-get($map:$colores , $key:'main');
            }
        }
    }
}

