@import "_commons";
@import "_navbar";
@import "_footer";


//Css del main

//GRID
.containercss{
    display: grid;
    grid-template-columns: 40% 45% 15%;
    grid-template-rows: auto;
    grid-template-areas: 
    "main main aside1"
    "final final final"
    ;
}
#main{
    grid-area: main;
}
#final{
    grid-area: final;
}
#aside1{
    grid-area: aside1;
}

/* Css de mainsection */

.mainsection{
    text-align: center;
    margin-top: 50px;
    &__tittle{
        color: map-get($map:$colores, $key:'main');
        font-size: map-get($map:$sizefont , $key:'xl' );
        @include font($tittleFont,$weightTittle,normal);
        margin-bottom: 30px;
        display: inline-block;
        &--color{
            color: map-get($map:$colores, $key:'mainSub');
        }
        &--subrayado{
            background-image: linear-gradient(currentColor, currentColor);
            background-position: 0% 100%;
            background-repeat: no-repeat;
            background-size: 0% 4px;
            transition: background-size .8s;
            &:hover,&:focus{
                background-size: 100% 4px;
            }
        }
    }
    &__text{
        color: black;
        font-size: map-get($map:$sizefont , $key:'xs' );
        @include font($textFont,$weightText,3rem);
        margin: 30px;
        text-align: justify;
        &--width{
            width: 40%;
        }
    }
    &--flex{
        @include flex(row,center,center);
        margin-bottom: 50px; 
    }     
}

//Empieza animacion de mainsection

#animacion{
    width: 450px;
    height: 350px;
    margin: 30px;
    margin-left: 50px;
    background-position: 0 0;
    animation-name: animacionmain;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

@keyframes animacionmain{
    0%{background-size: cover;background-image: url(../imagenes/aside-compañeros/animacion1.jpg);}
    20%{background-size: cover;background-image: url(../imagenes/aside-compañeros/animacion13.jpg);}
    40%{background-size: cover;background-image: url(../imagenes/aside-compañeros/animacion3.jpg);}
    60%{background-size: cover;background-image: url(../imagenes/aside-compañeros/animacion4.png);}
    80%{background-size: cover;background-image: url(../imagenes/aside-compañeros/animacion5.jpg);}
    100%{background-size: cover;background-image: url(../imagenes/aside-compañeros/service-1.png);}
    
}

//Termina animacion mainsection

//Css finalsection

.finalsection{
    text-align: center;
    background-color: map-get($map:$colores, $key:'backGround');
    &__tittle{
        @extend .mainsection__tittle;
        color:map-get($map:$colores, $key:'secondary');
        padding-top: 50px;
        margin-bottom: 0;
        &--color{
            color:map-get($map:$colores, $key:'secondarySub');
        }
    }
    &__text{
        color: rgb(2, 2, 2);
        @include font($textFont,$weightText,3.5rem);
        font-size: map-get($map:$sizefont , $key:'m' );
        margin-top: 50px;
    }
    &--flex{
        @include flex(row,center,normal);
    }
    &__figure{
        &--width{
            width: 20vw;
            margin: 60px 60px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            padding: 20px 20px;
            border-radius: 10px;
            background-color: white;
            @include flex(column,normal,normal);
        }
        &--button{
            background-color: map-get($map:$colores , $key:'secondaryButton' );
            color:white;
            font-size: map-get($map:$sizefont , $key:'s' );
            padding: 7px 25px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 20px;
            @include font($tittleFont,$weightText,normal);
            border-radius: 10px;
            border: none;
            span{
                cursor: pointer;
                position: relative;
                transition: 0.5s;
                &::after{
                    content: '\00bb';
                    position: absolute;
                    opacity: 0;
                    top: 0;
                    right: -20px;
                    transition: 0.5s;
                }
            }
            &:hover{
                span{
                    padding-right: 25px;
                    &::after{
                        opacity: 1;
                        right: 0;
                    }
                }
            }    
        }
    }
}

section.finalsection{
    div{
        img{
            width: 100%;
            border-radius: 10px;
            margin: 0 auto;
        }
        h3{
            font-size: map-get($map:$sizefont , $key:'m' );
            @include font($tittleFont,$weightText,normal);
            margin-top: 15px;
            color: map-get($map:$colores , $key:'secondary' );
        }
        p{
            @include font($textFont,$weightText,3rem);
            font-size: map-get($map:$sizefont , $key:'xxs' );
            margin-top: 15px;
            color: map-get($map:$colores , $key:'black');
            flex-grow: 1;
        }
    }
}

//termina finalsection

//Css de aside

.aside{
    font-weight: 200;
    text-align: center;
    background-color: map-get($map:$colores , $key:'backGround1');
    @include flex(column,flex-start,center);
    padding: 30px;
    &__tittle{
        @include font($tittleFont,$weightTittle,normal);
        font-size: map-get($map:$sizefont , $key:'s' );
        margin-bottom: 15px;
        color:map-get($map:$colores , $key:'secondary');
    }
    &__list{
        list-style: none;
        margin: 0;
        padding: 0;
    }

}

aside.aside{
    ul{
        li{
            font-size: map-get($map:$sizefont , $key:'xxs' );
            margin: 20px;
            @include font($textFont,normal,3rem);
            @include flex(row,normal,center);
            text-align: left;
            animation: fadein 2s forwards;
            opacity: 0; 
            img{
                margin-right: 20px;
                width: 15px;
            }
            &:nth-child(2){
                animation-delay: 0.5s;
            }
            &:nth-child(3){
                animation-delay: 1s;
            }
            &:nth-child(4){
                animation-delay: 1.5s;
            }   
            &:nth-child(5){
                animation-delay: 2s;
            }
            &:nth-child(6){
                animation-delay: 2.5s;
            }  
        }
    }
}

//Animacion aside
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }  
}

@media (max-width: 1200px){
    #animacion{
        width: 350px;
        height: 250px;
    }

    .containercss{
        grid-template-columns: 100vw;
        grid-template-areas: 
        "main"
        "aside1"
        "final"
        ;
    }

    .aside{
        &__tittle{
            font-size: map-get($map:$sizefont , $key:'m' );
        }
    }

    aside.aside{
        ul{ 
            li{
                font-size: map-get($map:$sizefont , $key:'s' );
                img{
                    width: 20px;
                }
            } 
        }
    }

    .finalsection{
        &__figure{
            &--width{
                width: 25vw;
            }
        }
    }
}

@media (max-width: 992px){

    .finalsection{
        &__figure{
            &--width{
                width: 30vw;
                margin: 30px 30px;
            }
        }
    }

    section.finalsection{
        div{
            img{
                width: 100%;
            }
        }
    }

}

@media (max-width: 768px){

    .mainsection{
        &--flex{
            flex-direction: column;
            margin-bottom: 15px;
        }
        &__text{
            &--width{
                width: 80vw;
            }
        }
    }   

    #animacion{
        height: 300px;
        width: 400px;
        margin-right: 15px;
        margin-left: 15px;
    }

    .finalsection{
        &__figure{
            &--width{
                width: 35vw;
            }
        }
    }
}

@media (max-width: 576px){

    header{
        img{
            height: 200px;
            object-fit: cover;
            margin: 0 0;
        }
    }
    
    .containercss{
        grid-template-columns: 100vw;
        grid-template-areas: 
        "main"
        "aside1"
        "final"
        ;
    }

    .mainsection{
        margin-top: 15px;
        &__tittle{
            font-size: map-get($map:$sizefont , $key:'l' );
            padding: 10px 10px;
            margin-bottom: 10px;
        }
        &__text{
            font-size: map-get($map:$sizefont , $key:'xxs' );
            margin: 0px;
            padding-right: 25px;
            padding-left: 25px;
            &--width{
                width: 80vw;
            }
        }
        &--flex{
            flex-direction: column;
            margin-bottom: 15px;
        }
    }

    #animacion{
        height: 300px;
        width: 400px;
        margin-right: 15px;
        margin-left: 15px;
    }

    .finalsection{
        &__tittle{
            font-size: map-get($map:$sizefont , $key:'l' );
            padding-top: 15px;
            margin-top: 30px; 
        }
        &__text{
            font-size: map-get($map:$sizefont , $key:'xxs' );
            line-height: 3.5rem;
            margin-top: 15px;
        }
        &--flex{
            align-items: center;
            flex-direction: column;
        }
        &__figure{
            &--width{
                width: 70vw;
                margin-top: 15px;
                margin-bottom: 50px;
                margin-right: 10px;
                margin-left: 10px;
            }
        }
    }

    section.finalsection{
        div{
            img{
                width: 100%;
            }
        }
        h3{
            font-size: map-get($map:$sizefont , $key:'s');
            padding-left: 25px;
            padding-right: 25px;
        }
        p{
            padding-left: 25px;
            padding-right: 25px;
        }
    }
   

    .aside{
        &__tittle{
            font-size: map-get($map:$sizefont , $key:'s' );
        }
    }
    aside.aside{
        ul{
            li{
                font-size: map-get($map:$sizefont , $key:'xxs' );
                img{
                    width: 15px;
                }
            }
        }
    }

}